* {
	padding: 0; margin: 0;
}

header {
	width: 100%;
	background-color: #f5f5f5;
}

header .header_wrap {
	width: 900px; height: 50px;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;
	font-size: 1.1em;
}

nav {
	width: 100%;
	background-color: #bdbdbd;
}

nav .nav_wrap {
	width: 1500px; height: 70px;
	line-height: 70px;
	margin: 0 auto;
	text-align: center;
}

nav .nav_wrap a {
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
	font-weight: bolder;
	margin: 0 60px;
}

section {
	width: 100%
}

section .section_wrap {
	width: 1700px;
	margin: 0 auto;
}

section .section_wrap .article {
	width: 100%;
	margin: 0 auto;
	padding: 100px 0;
	text-align: center;
}

section .section_wrap .article table {
	width: 100%;
	border-collapse: collapse;
	}

section .section_wrap .article table thead tr th {
	border: 1px solid #ccc;
	padding: 7px;
	background-color: #ededed;
	}

section .section_wrap .article table tbody tr td {
	border: 1px solid #ccc;
	padding: 7px;
	}

footer {
	width: 100%;
	background-color: #f5f5f5;
}

footer .footer_wrap {
	width: 900px; height: 70px;
	line-height: 70px;
	margin: 0 auto;
	text-align: center;
}